<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>angular test1</title>
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
    <!--
    <div ng-app="">
        <p>名字：<input type="text" ng-model="name"></p>
        <h1>Hello{{name}} </h1>
    </div>
    -->
    <!--
    <div ng-app='' ng-init="firstName='liu'; lastName='ning'">
        <p>姓名：<span ng-bind="firstName + lastName"></span></p>
    </div>
    -->
    <!--
    <div ng-app="" ng-init="person={firstName: 'mike', lastName: 'liu'}">
        <p>姓名: <span ng-bind="person.firstName"></span></p>
    </div>
    -->
    <!--数据绑定
    <div ng-app="" ng-init="quantity=1; price=5">
        <h2>价格计算器</h2>
        数量：<input type="number" ng-model="quantity">
        价格：<input type="number" ng-model="price">
        <p><b>总价：</b>{{ quantity * price }}</p>
    </div>
    -->
    <div ng-app="" ng-init="numbers=['1', '2', '3', '4', '5']">
        <p>ng-repeat</p>
        <ul>
            <li ng-repeat='x in numbers' style="list-style-type:none">
                {{ x }}
            </li>
        </ul>
    </div>
</body>
</html>